<h3 class="d-flex justify-content-center m-3">Selecciona un Contralor</h3>
<div class="content ">
    <div class="row m-3 d-flex justify-content-center m-3">

        <div class="card m-3" style="width: 18rem;">
            <img class="card-img-top p-3" src="/img/customLogo.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title  d-flex   justify-content-center ">Grado 601</h5>
                <p class="card-text ">KEVIN ANDRES DUSSAN FIERRO</p>
                <a href="#" class="btn btn-primary  d-flex justify-content-center">Votar</a>
            </div>
        </div>

        <div class="card m-3" style="width: 18rem;">
            <img class="card-img-top p-3" src="/img/customLogo.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title  d-flex   justify-content-center ">Grado 601</h5>
                <p class="card-text ">KEVIN ANDRES DUSSAN FIERRO</p>
                <a href="#" class="btn btn-primary  d-flex justify-content-center">Votar</a>
            </div>
        </div>

        <div class="card m-3" style="width: 18rem;">
            <img class="card-img-top p-3" src="/img/customLogo.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title  d-flex   justify-content-center ">Grado 601</h5>
                <p class="card-text ">KEVIN ANDRES DUSSAN FIERRO</p>
                <a href="#" class="btn btn-primary  d-flex justify-content-center">Votar</a>
            </div>
        </div>

    </div>


</div>