<div class="page-wrap d-flex flex-row align-items-center">
      <img src="/img/customLogo.png" class="m-5" id="icon" alt="User Icon" />
    <div class="container">
        <div class="row justify-content-center">
      
    
            <div class="col-md-12 text-center">

                <span class="display-1 d-block">Bienvenidos</span>
                <div class="mb-4 lead">Las votaciones inician a 8:00 AM y terminan a las 4:00 PM </div>
                {{!-- <a href="/" class="btn btn-primary">Inicio</a> --}}
            </div>
        </div>
    </div>
</div>