<div class="page-wrap d-flex flex-row align-items-center">
      <img src="/img/customLogo.png" class="m-5" id="icon" alt="User Icon" />
    <div class="container">
        <div class="row justify-content-center">
      
    
            <div class="col-md-12 text-center">

                <span class="display-1 d-block">Gracias por votar</span>
                <div class="mb-4 lead">Pronto tendremos los resultados.</div>
                <a href="/" class="btn btn-primary">Inicio</a>
            </div>
        </div>
    </div>
</div>